# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Duilib_Rain/Duilib_Rain.opensdf
Duilib_Rain/Duilib_Rain.sdf
Duilib_Rain/Duilib_Rain.v12.suo
Duilib_Rain/ipch
Duilib_Rain/Output
