# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
# *.exe
*.out
*.app
Duilib_Rain/Duilib_Rain.opensdf
Duilib_Rain/Duilib_Rain.sdf
Duilib_Rain/Duilib_Rain.v12.suo
Duilib_Rain/ipch
Duilib_Rain/Output
demo_simplewindow/demo_simplewindow.opensdf
demo_simplewindow/demo_simplewindow.sdf
demo_simplewindow/Output/Win32/demo_simplewindow.pdb
demo_simplewindow/Output/Win32/Temp/demo_sim.CE7DE75D.tlog/cl.command.1.tlog
demo_simplewindow/Output/Win32/Temp/demo_sim.CE7DE75D.tlog/CL.read.1.tlog
demo_simplewindow/Output/Win32/Temp/demo_sim.CE7DE75D.tlog/CL.write.1.tlog
demo_simplewindow/Output/Win32/Temp/demo_sim.CE7DE75D.tlog/demo_simplewindow.lastbuildstate
demo_simplewindow/Output/Win32/Temp/demo_sim.CE7DE75D.tlog/link.command.1.tlog
demo_simplewindow/Output/Win32/Temp/demo_sim.CE7DE75D.tlog/link.read.1.tlog
demo_simplewindow/Output/Win32/Temp/demo_sim.CE7DE75D.tlog/link.write.1.tlog
demo_simplewindow/Output/Win32/Temp/demo_simplewindow.log
demo_simplewindow/Output/Win32/Temp/vc120.pdb
demo_simplewindow/demo_simplewindow.v12.suo
demo_simplewindow/ipch

demo_simplewindow/Output/Win32/demo_simplewindow_D.ilk
demo_simplewindow/Output/Win32/demo_simplewindow_D.pdb
demo_simplewindow/Output/Win32/Temp/vc120.idb
